<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
  	xmlns:gap = "http://phonegap.com/ns/1.0"
		id		  = "com.exampleSqlite.aplicacion"
		versionCode = "10"
		version = "0.0.1">
	<name>SQLitePrueba</name>
	<icon src="icon.png" gap:role="default" />	
	<description>
		Prueba de SQLite
	</description>
	<author href="www.example.com" email="example@example.com" ></author>
	<preference name="phonegap-version" version="1.5.0" />
	<preference name="orientation" value="portrait" />
	<preference name="target-device" value="universal" />
	<preference name="andriod-installLocation" value="auto" />
	<feature name="http://api.phonegap.com/1.0/notification" />
	<feature name="http://api.phonegap.com/1.0/file" />
	<feature name="http://api.phonegap.com/1.0/media" />
</widget>
